<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml
    Declares app components, permissions, and metadata.
    Internet permission is required for the Currency Converter API (Function 4).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET: Required for ExchangeRate-API and RestCountries API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ACCESS_NETWORK_STATE: Used to detect offline state and show cached rates -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentExpenseTracker"
        tools:targetApi="31">

        <!-- Main entry point of the application -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
